<!-- <div class="col-2 middle-gst-price">
                          							<select name="currency" v-model="formData.tax" @change="taxChange($event)">
                            							<option value="" selected>Tax - {{ this.formData.taxvaluezero }} %</option>
                            							<option v-for="data in select_tax" :value="data.tax_rate" :key="data.id" :data-name="data.tax_name">
                              								{{ data.tax_name }} - {{ data.tax_rate }} %
                            							</option>
                          							</select>
                        						</div> -->
                        						<!-- <div class="col-2 right-price-tax" style="margin-left: 30px" >{{ this.formData.taxvalue }}</div> -->

<!-- <input placeholder="Tax Label" type="text" v-model="tax.tax_name" />